<div id="<%= dom_id message %>">
  <p>
    <strong>Medium:</strong>
    <%= message.medium %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= message.sent_at %>
  </p>

  <p>
    <strong>Edited at:</strong>
    <%= message.edited_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= message.deleted_at %>
  </p>

</div>
